@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-body: "Open Sans", sans-serif;
  --font-heading: "Open Sans", sans-serif;

  --color-primary-main: rgb(var(--raw-primary-main));
  --color-text-body: rgb(var(--raw-text-body));
  --color-text-bold: rgb(var(--raw-text-bold));
  --color-text-heading: rgb(var(--raw-text-heading));
  --color-text-muted: rgb(var(--raw-text-muted));
  --color-text-code: rgb(var(--raw-text-code));
  --color-text-link: rgb(var(--raw-text-link));
  --color-text-selection: rgb(var(--raw-text-selection));
  --color-bg-body: rgb(var(--raw-bg-body));
  --color-bg-code: rgb(var(--raw-bg-code));
  --color-bg-selection: rgb(var(--raw-bg-selection));
  --color-border-code: rgb(var(--raw-border-code));
}

/*
    Tailwind colors listed here: https://tailwindcss.com/docs/customizing-colors

    Why colors are written in rgb format (255 255 255) instead of hex (#ffffff)
    https://tailwindcss.com/docs/customizing-colors#using-css-variables
*/
@layer base {

  /* light theme (defaults) */
  :root {
    --raw-primary-main: 82 82 91;
    --raw-text-body: 55 65 81;
    --raw-text-heading: 55 65 81;
    --raw-text-bold: 55 65 81;
    --raw-text-muted: 107 114 128;
    --raw-text-link: 0 166 244;
    --raw-text-code: 0 0 0;
    --raw-text-selection: 0 0 0;
    --raw-bg-body: 255 255 255;
    --raw-bg-code: 255 247 237;
    --raw-bg-selection: 205 225 255;
    --raw-border-code: 255 237 213;
  }

  /* light theme */
  .theme-sleek {
    /* Tailwind zink-600 #52525b */
    --raw-primary-main: 82 82 91;

    /* Tailwind gray-700 #374151 */
    --raw-text-body: 55 65 81;
    /* Tailwind gray-700 #374151 */
    --raw-text-heading: 55 65 81;
    /* Tailwind gray-700 #374151 */
    --raw-text-bold: 55 65 81;
    /* Tailwind gray-500 #6b7280 */
    --raw-text-muted: 107 114 128;

    --raw-text-link: 0 166 244;
    /* black */
    --raw-text-code: 0 0 0;
    /* black */
    --raw-text-selection: 0 0 0;

    /* white */
    --raw-bg-body: 255 255 255;
    /* Tailwind orange-50 #fff7ed */
    --raw-bg-code: 255 247 237;

    --raw-bg-selection: 205 225 255;

    /* Tailwind orange-100 #ffedd5 */
    --raw-border-code: 255 237 213;
  }

  /* dark theme */
  .theme-sleek.dark {
    /* Tailwind yellow-400 #facc15 */
    --raw-primary-main: 250 204 21;

    /* Tailwind stone-300 #d6d3d1 */
    --raw-text-body: 214 211 209;
    /* white */
    --raw-text-heading: 255 255 255;
    /* white */
    --raw-text-bold: 255 255 255;
    /* Tailwind stone-400 #a8a29e */
    --raw-text-muted: 168 162 158;
    /* Tailwind yellow-400 #facc15 */
    --raw-text-link: 250 204 21;
    /* black */
    --raw-text-code: 255 255 255;
    /* black */
    --raw-text-selection: 0 0 0;

    /* #0e141b */
    --raw-bg-body: 14 20 27;
    /* Tailwind yellow-500 #eab308 */
    --raw-bg-code: 234 179 8;
    /* Tailwind yellow-300 #fde047 */
    --raw-bg-selection: 253 224 71;

    /* Tailwind yellow-100 #fef9c3 */
    --raw-border-code: 254 243 199;
  }

  :root {
    font-family: var(--font-body);
    background-color: var(--color-bg-body);
    color: var(--color-text-body);
    /* base font-size 1px larger for better visibility */
    font-size: 1.0625em;
    line-height: 1.75;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}

@layer components {

  /* ------ GLOBAL STYLES - START ------ */
  strong {
    font-weight: 600;
    color: var(--color-text-bold);
  }

  mark {
    background-color: var(--color-bg-selection);
    color: var(--color-text-selection);
  }

  /*
        if you want an anchor tag to not have this style,
        just add a class `unset` to it.
    */
  a:not(.unset) {
    background-repeat: no-repeat;
    background-size: 100% 1.5px;
    background-position: 0 100%;
    color: var(--color-text-link);
  }

  a:not(.unset):hover {
    /* text-decoration:  */
  }

  code:not(pre code):not(.unset) {
    background-color: var(--color-bg-code);
    color: var(--color-text-code);
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.875em;
    font-weight: 600;
    border: 1px solid var(--color-border-code);
    margin-bottom: 1.25em;
  }

  html.dark code:not(pre code) {
    background-color: rgb(var(--raw-bg-code) / 0.15);
    border-color: rgb(var(--raw-border-code) / 0.15);
  }

  ul:not(.unset):not(:where([class~="prose"] *)) {
    padding-left: 0;
    list-style: none;
  }

  ul:not(:where([class~="prose"] *))>li {
    position: relative;
    padding-left: 1.375rem;
  }

  ul:not(.unset):not(:where([class~="prose"] *))>li::before {
    position: absolute;
    left: 0;
    content: "»";
    color: var(--color-text-muted);
  }

  ol:not(.unset):not(:where([class~="prose"] *)) {
    padding-left: 1.125rem;
  }

  ol:not(.unset):not(:where([class~="prose"] *))>li::marker {
    color: var(--color-text-muted);
  }

  ul:not(.unset):not(:where([class~="prose"] *))>li,
  ol:not(.unset):not(:where([class~="prose"] *))>li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  ::selection {
    background: var(--color-bg-selection);
    color: var(--color-text-selection);
  }

  /* ------ GLOBAL STYLES - END ------ */

  /* ------ REUSABLE UTILS - START ------ */
  .animated-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .animated-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .animated-link:after {
    left: 0;
    right: 0;
    bottom: -3px;
    content: "";
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: top left;
    transition: all 0.05s ease-in;
    background-image: linear-gradient(to bottom,
        var(--color-text-link),
        var(--color-text-link));
  }

  .animated-link.show:after {
    transform: translateZ(0) scale(1);
  }

  /* ------ REUSABLE UTILS - END ------ */
}

/* ------ TYPOGRAPHY PLUGIN OVERRIDES ------ */
.prose {
  --tw-prose-body: var(--color-text-body);
  --tw-prose-headings: var(--color-text-heading);
  --tw-prose-lead: var(--color-text-body);
  --tw-prose-links: var(--color-text-body);
  --tw-prose-bold: var(--color-text-bold);
  --tw-prose-counters: var(--color-text-body);
  --tw-prose-bullets: var(--color-text-body);
  --tw-prose-hr: var(--color-text-muted);
  --tw-prose-quotes: var(--color-text-body);
  --tw-prose-quote-borders: var(--color-primary-main);
  --tw-prose-captions: var(--color-text-heading);
  --tw-prose-quote-captions: var(--color-text-heading);
  --tw-prose-code: var(--color-text-code);
  --tw-prose-pre-code: var(--color-text-code);
  --tw-prose-pre-bg: var(--color-bg-code);
  --tw-prose-th-borders: var(--color-text-muted);
  --tw-prose-td-borders: var(--color-text-muted);
}

.prose a {
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 100% 1.5px;
  background-position: 0 100%;
  background-image: linear-gradient(to right, var(--color-text-link), var(--color-text-link));
}

.prose a:hover {
  color: var(--color-text-link);
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5 {
  color: var(--color-text-heading);
}

.prose code::before {
  content: none;
}

.prose code::after {
  content: none;
}

.prose blockquote {
  border: none;
  position: relative;
  width: 96%;
  margin: 0 auto;
  font-size: 1.0625em;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.prose blockquote::before {
  font-family: Arial;
  content: '"';
  font-size: 4em;
  color: var(--color-text-link);
  position: absolute;
  left: -10px;
  top: -10px;
}

.prose blockquote::after {
  content: "";
}

.prose blockquote p:first-of-type::before {
  content: "";
}

.prose blockquote p:last-of-type::after {
  content: "";
}