---
import PageLayout from "../layouts/PageLayout.astro"
import PageMeta from "../components/PageMeta.astro"
import { SITE_TITLE } from "../config"

export const prerender = true
---

<PageLayout>
  <PageMeta title={`${SITE_TITLE}`} slot="meta" />
  <section slot="main" class="grid gap-5">
    <div id="experience">
      <h1><b>Experience</b></h1>

      <div id="experience-content" class="grid gap-4">
        <section>
          <div class="flex justify-between">
            <h2>
              <a href="https://yupty.live/pricing" target="_blank">Yupty</a> - founding
              engineer
            </h2>
            <small>2023 - Present</small>
          </div>

          <p class="mb-3">
            Led the development of a live music discovery and ticketing service.
          </p>

          <ul>
            <li>
              Implemented <a href="https://yupty.live/pricing" target="_blank"
                >Ticket Splits</a
              >. When fans buy tickets, artist receive the proceeds in their
              bank accounts, based on a split they agree on.
            </li>
            <li>
              Developed a novel visualization for the live music scene of a city
              in the form of a <a
                href="https://user-images.githubusercontent.com/1226564/223600700-cfb41853-5fbb-4198-bbae-938dd1494b70.gif"
                target="_blank">constellation of stars</a
              >, using <a
                href="https://www.datacamp.com/tutorial/introduction-t-sne"
                target="_blank">t-stochastic neighbour embedding</a
              >.
            </li>
            <li>
              Created systems for continuous delivery, authentication,
              permissions, database and content management. Using technologies
              such as GraphQL, TypeScript, React and Remix.
            </li>
          </ul>
        </section>

        <section>
          <div class="flex justify-between">
            <h2>
              <a href="https://webflow.com" target="_blank">Webflow</a> - software
              engineer, platform
            </h2>
            <small>2021 - 2023</small>
          </div>

          <p class="mb-3">
            Contributed to foundational systems that power every major feature
            in the product, on the front and back end, using procedural and
            functional programming methods, with technologies such as
            JavaScript, Flux, Flow, React and GraphQL.
          </p>

          <ul>
            <li>
              Optimized style compilation for user sites, which <b
                >made publishing large sites twice as fast</b
              >. This was one of the projects that let us <a
                href="https://webflow.com/blog/increased-page-limits"
                target="_blank">raise platform limits</a
              > and land multiple enterprise contracts, which can run around $65,000
              per year each.
            </li>
            <li>
              Contributed to a proprietary programming language that underpins
              the rendering and editing of elements and <a
                href="https://university.webflow.com/lesson/components#how-to-create-a-component"
                target="_blank">components</a
              >.
            </li>

            <li>
              Wrote a parser (using the <a
                href="https://nearley.js.org"
                target="_blank">nearley parser toolkit</a
              >) for said language that greatly improved the development
              experience and prevented many subtle bugs from reaching production
              by making it easier to write tests.
            </li>

            <li>
              Contributed to the universal bindings system that powers <a
                href="https://webflow.com/cms"
                target="_blank">CMS</a
              > and <a href="https://webflow.com/ecommerce">Ecommerce</a>.
            </li>

            <li>
              Shipped the authoring experience of <a
                href="https://webflow.com/libraries"
                target="_blank">libraries</a
              >.
            </li>
            <li>
              Overhauled the platform documentation, which <b
                >sped up new hire onboarding by 2x</b
              >.
            </li>
          </ul>
        </section>

        <section>
          <div class="flex justify-between">
            <h2>
              <a href="https://fanduel.com" target="_blank">FanDuel</a> - frontend
              software engineer
            </h2>
            <small>2019 - 2021</small>
          </div>

          <p class="mb-3">
            Contributed to critical account, wallet and Sportsbook features.
            Used functional programming methods and technologies such as
            TypeScript, React, Redux, and RxJS.
          </p>

          <ul>
            <li>
              Shipped the most used payment method in the account and wallet
              product - bank payments.
            </li>
            <li>
              Contributed to core features such as session management, content
              rendering and placing bets for Sportsbook - a React Native app
              with millions of customers.
            </li>
            <li>
              Made performance and bundling optimizations that <b
                >made the app load twice as fast</b
              >.
            </li>
            <li>
              Helped the quality of life for all developers on the project by <b
                >improving compile times by 40%</b
              >.
            </li>
            <li>
              Contributed to hiring and onboarding. Fostered an inclusive
              development community, organized knowledge sharing between teams.
            </li>
          </ul>
        </section>

        <section>
          <h2><b>Keywords</b></h2>
          <p>
            TypeScript, React, GraphQL, SQL, Rust, Unreal Engine, Machine
            Learning
          </p>
        </section>
      </div>
    </div>
    <div id="education">
      <h1><b>Education</b></h1>

      <div id="education-content" class="grid gap-4">
        <section>
          <div class="flex justify-between">
            <h2>University of Strathclyde - MSc Advanced Computer Science</h2>
            <small>2017 - 2018</small>
          </div>

          <ul>
            <li>
              Trained a machine learning model to <a
                href="https://docs.google.com/document/d/1NQIByjKZk5kXNa86-8UiqPb0eF6DONWt7j0ZVE6GASg/edit?usp=sharing"
                target="_blank"
                >detect multiple sounds within one audio signal</a
              > for my dissertation.
            </li>
            <li>
              Compared methods of <a
                href="https://github.com/vladinator1000/algorithmic-trading"
                >short-term algorithmic trading</a
              > of financial assets.
            </li>
            <li>
              Solved <a
                href="https://github.com/vladinator1000/multi-objective-optimisation"
                target="_blank">multi-objective optimization</a
              > problems with genetic algorithms.
            </li>
          </ul>
        </section>

        <section>
          <div class="flex justify-between">
            <h2>Glasgow Caledonian University - BSc audio technology</h2>
            <small>2013 - 2017</small>
          </div>

          <ul>
            <li>
              Created <a href="https://youtu.be/_yFwjlvYCY8" target="_blank"
                >a synthesizer</a
              > with a wireless motion controller that makes sound when you shake
              and rotate it, all using an inertial measurement chip.
            </li>
            <li>
              Created a multiplayer shooter where you <a
                href="https://www.youtube.com/shorts/K5uPdCmERDc"
                target="_blank">shoot by making noise</a
              >
              instead of clicking the mouse. (Generic implementation: <a
                href="https://github.com/vladinator1000/UnrealAudioInput/blob/main/Plugins/AudioInput/Source/AudioInput/Private/AudioInputSubsystem.cpp"
                target="_blank">github.com/vladinator1000/UnrealAudioInput</a
              >).
            </li>
            <li>
              Developed digital signal processing in C++ (audio VST plugins).
            </li>
          </ul>
        </section>
      </div>
    </div>
  </section>
</PageLayout>

<style>
  h1 {
    font-size: 1.25rem;
  }
  li,
  p {
    font-size: 0.85rem;
  }
</style>
