---
import PageLayout from "../layouts/PageLayout.astro"
import PageMeta from "../components/PageMeta.astro"
import { SITE_TITLE } from "../config"

export const prerender = true
---

<PageLayout>
  <PageMeta title={`${SITE_TITLE}`} slot="meta" />
  <section slot="main" class="grid gap-5">
    <div id="experience">
      <h1><b>Experience</b></h1>

      <div id="experience-content" class="grid gap-4">
        <section>
          <div class="flex justify-between">
            <h2>
              <a href="https://yupty.live/pricing" target="_blank">Yupty</a> - founding
              engineer
            </h2>
            <small>2023 - Present</small>
          </div>

          <p class="mb-3">
            Leading the development of a live music discovery and ticketing
            service.
          </p>

          <ul>
            <li>
              Implemented <a href="https://yupty.live/pricing">Ticket Splits</a
              >. When fans buy tickets, we send the money to artist bank
              accounts according to a percentage they agree on.
            </li>
            <li>
              Developed a novel visualization for the live music scene of a city
              in the form of a <a
                href="https://user-images.githubusercontent.com/1226564/223600700-cfb41853-5fbb-4198-bbae-938dd1494b70.gif"
                target="_blank">constellation of stars</a
              >. Using the visualization technique <a
                href="https://www.datacamp.com/tutorial/introduction-t-sne"
                target="_blank">t-stochastic neighbour embedding</a
              >.
            </li>
            <li>
              Created systems for continuous delivery, authentication,
              permissions, database and content management. Using technologies
              such as GraphQL, TypeScript, React and Remix.
            </li>

            <li>
              Mentored and helped people progress in their career as software
              engineers.
            </li>
          </ul>
        </section>

        <section>
          <div class="flex justify-between">
            <h2>
              <a href="https://webflow.com" target="_blank">Webflow</a> - software
              engineer, platform
            </h2>
            <small>2021 - 2023</small>
          </div>

          <p class="mb-3">
            Contributed to foundational systems that power every major feature
            in the product, on the front and back end, using procedural and
            functional programming methods, with technologies such as
            JavaScript, Flux, Flow, React and GraphQL.
          </p>

          <ul>
            <li>
              Contributed to a custom programming language that underpins the
              rendering and editing of elements and <a
                href="https://university.webflow.com/lesson/components#how-to-create-a-component"
                target="_blank">components</a
              >.
            </li>

            <li>
              Wrote a parser for the internal language that greatly improved the
              development experience, using the <a
                href="https://nearley.js.org"
                target="_blank">nearley parser toolkit</a
              >.
            </li>

            <li>
              Optimized style compilation for user sites, making it <i
                >twice as fast</i
              >, which let us <a
                href="https://webflow.com/blog/increased-page-limits"
                target="_blank">raise platform limits</a
              > and land high-value enterprise contracts.
            </li>

            <li>
              Shipped the authoring experience of <a
                href="https://webflow.com/libraries"
                target="_blank">libraries</a
              >.
            </li>

            <li>
              Contributed to the universal bindings system that powers <a
                href="https://webflow.com/cms"
                target="_blank">CMS</a
              > and <a href="https://webflow.com/ecommerce">Ecommerce</a>.
            </li>

            <li>
              Overhauled the platform documentation process by introducing new
              methods of teaching complex subjects in a way that is easy to
              understand.
            </li>
          </ul>
        </section>

        <section>
          <div class="flex justify-between">
            <h2>
              <a href="https://fanduel.com" target="_blank">FanDuel</a> - software
              engineer
            </h2>
            <small>2019 - 2021</small>
          </div>

          <p class="mb-3">
            Contributed to critical account, wallet and Sportsbook features.
            Used functional programming methods and technologies such as
            TypeScript, React, Redux, and RxJS.
          </p>

          <ul>
            <li>
              Contributed to the account and wallet product, shipped bank
              payments.
            </li>
            <li>
              Contributed to core features such as session management, content
              rendering and placing bets for Sportsbook - a React Native app
              with millions of customers.
            </li>
            <li>
              Collaborated across teams on performance and bundling
              optimizations that cut loading times by half. Vastly improved the
              quality of life for all developers on the project by reducing
              compile times.
            </li>
            <li>
              Contributed to hiring and onboarding. Fostered an inclusive
              development community by organizing knowledge sharing events.
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div id="education">
      <h1><b>Education</b></h1>

      <div id="education-content" class="grid gap-4">
        <section>
          <div class="flex justify-between">
            <h2>University of Strathclyde - MSc advanced computer science</h2>
            <small>2017 - 2018</small>
          </div>

          <ul>
            <li>
              Trained an AI model to <a
                href="https://docs.google.com/document/d/1NQIByjKZk5kXNa86-8UiqPb0eF6DONWt7j0ZVE6GASg/edit?usp=sharing"
                >detect multiple sounds within one audio signal</a
              >.
            </li>
            <li>
              Predicted financial data using <a
                href="https://www.r-project.org/">statistical computing</a
              >.
            </li>
            <li>
              Solved <a
                href="https://github.com/vladinator1000/multi-objective-optimisation"
                target="_blank">multi-objective optimization</a
              > problems with genetic algorithms.
            </li>
          </ul>
        </section>

        <section>
          <div class="flex justify-between">
            <h2>Glasgow Caledonian University - BSc audio technology</h2>
            <small>2013 - 2017</small>
          </div>

          <ul>
            <li>
              Created <a href="https://youtu.be/_yFwjlvYCY8" target="_blank"
                >a synthesizer</a
              > with a wireless motion controller that makes sound when you shake
              and rotate it, all using an inertial measurement chip.
            </li>
            <li>
              Created a multiplayer shooter where you shoot by making noise
              instead of clicking the mouse.
            </li>
            <li>Developed digital signal processing in C++.</li>
          </ul>
        </section>
      </div>
    </div>
  </section>
</PageLayout>

<style>
  h1 {
    font-size: 1.25rem;
  }
  li,
  p {
    font-size: 0.85rem;
  }
</style>
