---
import PageLayout from "../layouts/PageLayout.astro"
import PageMeta from "../components/PageMeta.astro"
import { SITE_TITLE } from "../config"

export const prerender = true
---

<PageLayout>
  <PageMeta title={`${SITE_TITLE}`} slot="meta" />
  <section slot="main" class="grid gap-5">
    <section id="summary" class="">
      <!-- <h1 class="text-xl"><b>Summary</b></h1> -->
      <p>
        I'm Vlady. I'm a senior software engineer building platforms and tools for designers. Currently working on live music platform <b>Yupty</b>. Previously - platform at <b>Webflow</b>, product and payments at <b>FanDuel</b>.
        <br/><br/>
        Specializing in full-stack TypeScript, React, GraphQL and SQL, with a dash of open-source Rust.
      </p>
    </section>

    <div id="experience">
      <h1 class="text-xl mb-2"><b>Experience</b></h1>

      <div id="experience-content" class="grid gap-4">
        <section>
          <div class="text-base flex justify-between mb-2">
            <h2>
              <a href="https://vladinator.net/blog/launching-yupty/" target="_blank">Yupty</a> - co-founder
            </h2>
            <small>2023 - Present</small>
          </div>

          <p class="mb-3">
            Leading engineering for the live music ticketing platform.
          </p>

          <ul>
            <li>
              Built <a href="https://yupty.live/pricing" target="_blank"
                >Ticket Splits</a
              > - international payouts for artists, venues and promoters. Created a system that lets you sell tickets directly to fans, where multiple parties can take part in the event financially, with custom revenue splits and fault-tolerant payouts.
            </li>
            <li>
              Built a graph-based content system that supports viewing content based on any variation of location, artists, genres, promoters and venues.
            </li>
            <li>
              Created a ticket scanner that scans multiple tickets at once, works offline and syncs data to the server when an internet connection becomes available.
            </li>
            <li>
              Core systems for authorization, notifications and data pipeline.
            </li>
          </ul>
        </section>

        <section>
          <div class="flex justify-between mb-2">
            <h2>
              <a href="https://webflow.com" target="_blank">Webflow</a> - software
              engineer, platform
            </h2>
            <small>2021 - 2023</small>
          </div>

          <ul>
            <li>
              Built compiler and runtime tooling for <a
                href="https://webflow.com/blog/webflow-design-language"
                target="_blank">Webflow Design Language</a
              > - an interpreted programming language that underpins the core functionalities
              of Webflow. My tools let our engineers write WFDL using a dedicated syntax that made authoring and making changes to internal components much less error-prone, significantly reducing UI regressions. 
            </li>
            

            <li>
              Overhauled the bindings system that powers the <a
                href="https://webflow.com/cms"
                target="_blank">CMS</a
              >. Replaced a brittle legacy JSON-based system with one based on our WFDL language, which let users author data bindings at design time (visually writing to WFDL) and translated them to GraphQL queries to be executed at runtime.
            </li>


            <li>
              Shipped the front end for <a
                href="https://webflow.com/libraries"
                target="_blank">libraries.</a
              >
            </li>
          </ul>
        </section>

        <section>
          <div class="flex justify-between mb-2">
            <h2>
              <a href="https://fanduel.com" target="_blank">FanDuel</a> - frontend
              software engineer
            </h2>
            <small>2019 - 2021</small>
          </div>

          <ul>
            <li>
              Shipped bank payments - the most used payment method on the platform.
            </li>
            <li>
              Halved native app startup time for users and improved compile times for developers by 40%.
            </li>
            <li>
              Contributed to session management, rendering very large lists of content and placing bets for Sportsbook - the most valuable product in the org.
            </li>
            
          </ul>
        </section>

      </div>
    </div>

    <div id="education">
      <h1 class="text-xl mb-2"><b>Education</b></h1>

      <div id="education-content" class="grid gap-4">
        <section>
          <div class="flex justify-between mb-2">
            <h2>University of Strathclyde - MSc Advanced Computer Science</h2>
            <small>2017 - 2018</small>
          </div>

          <ul>
            <li>
              Trained an AI model to <a
                href="https://docs.google.com/document/d/1NQIByjKZk5kXNa86-8UiqPb0eF6DONWt7j0ZVE6GASg/edit?usp=sharing"
                target="_blank"
                >distinguish between multiple sounds within one audio signal</a
              >.
            </li>

            <li>
              Solved <a
                href="https://github.com/vladinator1000/multi-objective-optimisation"
                target="_blank">multi-objective optimization</a
              > problems with genetic algorithms.
            </li>

            <li>
              Compared methods for <a
                href="https://github.com/vladinator1000/algorithmic-trading"
                >algorithmic trading of financial assets</a
              >.
            </li>
          </ul>
        </section>

        <section>
          <div class="flex justify-between mb-2">
            <h2>Glasgow Caledonian University - BSc Audio Technology</h2>
            <small>2013 - 2017</small>
          </div>

          <ul>
            <li>
              Worked on (BAFTA nominated) <a href="https://www.redbull.com/gb-en/rebound-dodgeball-evolved-interview">Rebound: Dodgeball Evolved</a> - built audio systems in Unreal Engine.
            </li>
            <li>
              Created a multiplayer shooter where you <a
                href="https://www.youtube.com/shorts/K5uPdCmERDc"
                target="_blank">shoot by making noise</a
              >. (code sample <a
                href="https://github.com/vladinator1000/UnrealAudioInput/blob/main/Plugins/AudioInput/Source/AudioInput/Private/AudioInputSubsystem.cpp"
                target="_blank">available here</a
              >).
            </li>
            <li>
              Created <a href="https://youtu.be/_yFwjlvYCY8" target="_blank"
                >a synthesizer</a
              > with a wireless motion controller using an inertial measurement chip.
            </li>
          </ul>
        </section>
      </div>
    </div>
  </section>
</PageLayout>

<style>
  li,
  p {
    @apply text-sm;
  }
</style>
