---
import PageLayout from "../layouts/PageLayout.astro"
import PageMeta from "../components/PageMeta.astro"
import { SITE_TITLE } from "../config"

export const prerender = true
---

<PageLayout>
  <PageMeta title={`${SITE_TITLE}`} slot="meta" />
  <section slot="main" class="grid gap-5">
    <section id="summary" class="">
      <h1 class="text-xl"><b>Summary</b></h1>
      <p>
        Senior full-stack engineer focused on craft, performance, and reliability. Built tools that delight designers at Webflow, led engineering for the ticketing platform Yupty, and delivered reliable wallet systems at FanDuel.
 

      </p>
    </section>

    <section>
      <h2 class="text-base"><b>Keywords</b></h2>
      <p>
        TypeScript, React, GraphQL, SQL, Rust, Graphics, Performance
      </p>
    </section>

    <div id="experience">
      <h1 class="text-xl mb-2"><b>Experience</b></h1>

      <div id="experience-content" class="grid gap-4">
        <section>
          <div class="flex justify-between mb-2">
            <h2>
              <a href="https://vladinator.net/blog/launching-yupty/" target="_blank">Yupty</a> - co-founder
            </h2>
            <small>2023 - Present</small>
          </div>

          <p class="mb-3">
            Led the engineering team of a live music ticketing platform.
          </p>

          <ul>
            <li>
              Architected core systems for authorization, payments, notifications, data migration and content.
            </li>
            <li>
              Built <a href="https://yupty.live/pricing" target="_blank"
                >Ticket Splits</a
              > - automatic fault-tolerant payouts where artists get paid based on a percentage they set upfront.
            </li>
            <li>
              Created graphics tooling for <a href="https://drive.google.com/file/d/1d2HJxuwCelSHb2ke21oQ9GwF-tgEhx1T/view">GPU-driven animations</a>.
            </li>
          </ul>
        </section>

        <section>
          <div class="flex justify-between mb-2">
            <h2>
              <a href="https://webflow.com" target="_blank">Webflow</a> - software
              engineer, platform
            </h2>
            <small>2021 - 2023</small>
          </div>

          <p class="mb-3">
            Optimized foundational systems that power every major feature
            in the product.
          </p>

          <ul>
            <li>
              Built compiler and runtime tooling for <a
                href="https://webflow.com/blog/webflow-design-language"
                target="_blank">Webflow Design Language</a
              > - an interpreted programming language that underpins the core functionalities
              of Webflow.
            </li>

            <li>
              Sped up site publishing by 2x, letting us <a
                href="https://webflow.com/blog/increased-page-limits"
                target="_blank">raise platform limits</a
              > and land enterprise contracts.
            </li>
            

            <li>
              Shipped <a
                href="https://webflow.com/libraries"
                target="_blank">libraries</a
              > and improvements to the universal bindings system that powers the <a
                href="https://webflow.com/cms"
                target="_blank">CMS</a
              >.
            </li>
          </ul>
        </section>

        <section>
          <div class="flex justify-between mb-2">
            <h2>
              <a href="https://fanduel.com" target="_blank">FanDuel</a> - frontend
              software engineer
            </h2>
            <small>2019 - 2021</small>
          </div>

          <p class="mb-3">
            Contributed to critical account, wallet and Sportsbook features.
            Used functional programming methods and technologies such as
            TypeScript, React, Redux, and RxJS.
          </p>

          <ul>
            <li>
              Shipped bank payments, saving millions of dollars in transaction fees for users.
            </li>
            <li>
              Halved native app startup time for users and improved compile times for developers by 40%.
            </li>
            <li>
              Contributed to core features such as session management, rendering very large lists of content and placing bets for Sportsbook - a React Native app
              with 4M+ customers.
            </li>
            
          </ul>
        </section>

      </div>
    </div>

    <div id="education">
      <h1 class="text-xl mb-2"><b>Education</b></h1>

      <div id="education-content" class="grid gap-4">
        <section>
          <div class="flex justify-between mb-2">
            <h2>University of Strathclyde - MSc Advanced Computer Science</h2>
            <small>2017 - 2018</small>
          </div>

          <ul>
            <li>
              Trained an AI model to <a
                href="https://docs.google.com/document/d/1NQIByjKZk5kXNa86-8UiqPb0eF6DONWt7j0ZVE6GASg/edit?usp=sharing"
                target="_blank"
                >distinguish between multiple sounds within one audio signal</a
              >.
            </li>

            <li>
              Solved <a
                href="https://github.com/vladinator1000/multi-objective-optimisation"
                target="_blank">multi-objective optimization</a
              > problems with genetic algorithms.
            </li>

            <li>
              Compared methods for <a
                href="https://github.com/vladinator1000/algorithmic-trading"
                >algorithmic trading of financial assets</a
              >.
            </li>
          </ul>
        </section>

        <section>
          <div class="flex justify-between mb-2">
            <h2>Glasgow Caledonian University - BSc Audio Technology</h2>
            <small>2013 - 2017</small>
          </div>

          <ul>
            <li>
              Worked on (BAFTA nominated) <a href="https://www.redbull.com/gb-en/rebound-dodgeball-evolved-interview">Rebound: Dodgeball Evolved</a> - built audio systems in Unreal Engine.
            </li>
            <li>
              Created a multiplayer shooter where you <a
                href="https://www.youtube.com/shorts/K5uPdCmERDc"
                target="_blank">shoot by making noise</a
              >. (code sample <a
                href="https://github.com/vladinator1000/UnrealAudioInput/blob/main/Plugins/AudioInput/Source/AudioInput/Private/AudioInputSubsystem.cpp"
                target="_blank">available here</a
              >).
            </li>
            <li>
              Created <a href="https://youtu.be/_yFwjlvYCY8" target="_blank"
                >a synthesizer</a
              > with a wireless motion controller using an inertial measurement chip.
            </li>
          </ul>
        </section>
      </div>
    </div>
  </section>
</PageLayout>

<style>
  li,
  p {
    @apply text-sm;
  }
</style>
